#celaStrana {
    display: flex;
    flex-direction: row;
}

#leviDeoStrane {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border-right: 0.5px dotted lightgray;
}

#desniDeoStrane {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#timer {
    font-size: 35px;
    margin-left: 15px;
}

#divVremena {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.krugovi {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.krug {
    box-sizing: border-box;
    border: 1px solid;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 15px;
}

#dugmeKljuc {
    width: 70px;
}

.dugmeZaRec {
    margin-top: 5%;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 150px;
    height:50px;
    font-size: 25px;
    box-shadow: 0 7px rgb(189, 189, 189);
    border: 2px solid #219cc4;
    background-color:#4bc9f2;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dugmeZaRec:hover {background-color: #27b5e3}

.dugmeZaRec:active {
  background-color: #27b5e3;
  box-shadow: 0 4px rgb(153, 153, 153);
  transform: translateY(4px);
}

#labelaZaReci{
    font-size: 30px;
    padding-bottom: 1%;
    border-bottom: 2px solid #219cc4;
    width:300px;
    text-align: center;
}